---
---

$spacing: 5rem;
$brand: #2e8540;
$break: 700px;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after { box-sizing: inherit; }

body {
  color: #555;
  font-family: "Menlo", "Consolas", monospace;
  font-size: 12px;
}

@media (min-width: $break) {
  body { font-size: 18px; }
}

header {
  padding-top: .8 * $spacing;
  padding-bottom: .4 * $spacing;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

h1,
time {
  color: #333;
  font-weight: bold;
}

a { color: $brand; }

h1 a,
time a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover,
time a:hover { color: $brand; }

p {
  margin-top: 0;
  margin-bottom: $spacing;
}

img,
video {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img { width: 100%; }

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

@media (min-width: $break) {
  main {
    width: 50%;
    padding: 0;
  }
}

.subscription {
  margin-bottom: .8 * $spacing;
  font-size: .95rem;
}

.pagination {
  width: 100%;
  float: left;
  margin-bottom: $spacing;
}

.pagination div {
  float: left;
}

.prev { width: 25%; }
.page {
  width: 50%;
  text-align: center;
}
.next {
  width: 25%;
  text-align: right;
}
