---
layout: default
prev: "&laquo;&nbsp;Previous"
next: "Next&nbsp;&raquo;"
type: website
og_image: aaronjgreenberg.png
summary: 'life.aaronjgreenberg.com'
---

{% include header.html %}

<p class="subscription">(Ask Aaron for weekly email notifications of new posts!)</p>
<div class="friends">
  <span>Friends! 👫</span>
  <ul>
    <li><a href="http://drewheine.com/photos/">Lucy</a></li>
  </ul>
</div>

{% for post in paginator.posts %}
<div>
  {{ post.content }}
</div>
{% endfor %}

<div class="pagination">
  <div class="prev">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">{{ page.prev }}</a>
    {% else %}
    <span>{{ page.prev }}</span>
    {% endif %}
  </div>
  <div class="page">
    <span>Page {{ paginator.page }} / {{ paginator.total_pages }}</span>
  </div>
  <div class="next">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">{{ page.next }}</a>
    {% else %}
    <span>{{ page.next }}</span>
    {% endif %}
  </div>
</div>
